<center><h1>List of events</h1></center>
<div class= "cards">
  <% @sport_events.each do |event| %>
    <div class= "card">
      <img src=<%= asset_path "1.jpg" %>>
      <ul>
        <li style="list-style-type: none;"><%= event.sport %></li>
        <li style="list-style-type: none;"><%= event.address %></li>
        <li style="list-style-type: none;"><%= event.start_at %></li>
      </ul>
    </div>
  <% end %>
</div>
