<hr>
<center><h1 class="h1-headers">Current Events Available</h1></center>
<hr>
<div class= "cards">
  <% @sport_events.each do |event| %>
    <div class="card">
      <div class="card-text">
        <h2><%= link_to event.sport, sport_event_path(event), class: 'no-link' %></h2>
        <p><%= event.city_name %></p>
        <%# <p><%= event.user.username %></p>
      </div>
    </div>
  <% end %>
</div>
