// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #224EEB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #7CF803;
$gray: #0E0000;
$light-gray: #7A7A7C;
$dark-gray: #333333;
$dark-blue: #000476;
// Main colors:
