<div class="navfooter">
  <div class="flex-container">
      <a href="#"><i class="navfooter-links fa-regular fa-calendar-days"></i></a>
      <a href="#"><i class="navfooter-links fa-regular fa-comments"></i></a>
      <a href="#"><i class="navfooter-links fa-solid fa-circle-plus"></i></a>
      <a href="#"><i class="navfooter-links fa-regular fa-envelope"></i></a>
  </div>
</div>

