<% if user_signed_in? %>
  <div class= "homepage">
    <div class="homepagetop pb-2">
      <div class="homepage-text ">
        <p class= "hpw2 my-0">Find your</p>
        <p class= "hpw"><strong>SweatSquad</strong></p>
      </div>

      <form novalidate="novalidate" class="simple_form search my-4" action="/sport_events" accept-charset="UTF-8" method="GET" >
        <div class="search-form-control form-group">
          <input class="form-control string required" type="text" name="query" id="search_query" placeholder="Search for events in..." />
          <button name="button" type="submit" class="btn btn-flat me-1">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </form>
    </div>

    <div id='map' style='width: 400px; flex-grow: 2;' data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
<% else %>
  <img class= "homescreenimage" src=<%= asset_path "Homescreenimage.jpg"%>>
<% end %>
