<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "Create an event", new_sport_event_path %>

<%= link_to "List of events", sport_events_path %>

<%=link_to "Log out", "/users/sign_out", class: "dropdown-item", data: {turbo_method: :delete} %>
