 <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
     <div class="carousel-item active" data-bs-interval="3000">
       <img src=<%= asset_path "1.jpg" %> class="d-block w-100" alt="...">
    </div>
     <div class="carousel-item" data-bs-interval="3000">
      <img src=<%= asset_path "3.jpg" %> class="d-block w-100" alt="...">
     </div>
    <div class="carousel-item" data-bs-interval="3000">
      <img src=<%= asset_path "4.jpg" %> class="d-block w-100" alt="...">
     </div>
   </div>
</div>
