.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  row-gap: 8px;
  justify-items: center;
  width: 100%;
  margin-top: 8px;
}

.card {
  height: 110px;
  width: 110px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 0 rgba(0, 0, 0, .4);
  background-image: url(2.jpg);
  background-size: cover;
  border: none;
  border: 1px solid $light-gray;
}

.card .card-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border-top-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.card .card-text h2 {
  font-size: 14px;
  margin-bottom: 2px;
  color: white;
}

.card .card-text p {
  font-size: 10px;
  margin-bottom: 2px;
  color: white;
  font-weight: bold;
  font-family: sora;
}

.card .card-text h2 .no-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
