.form-label {
  color: rgb(90, 90, 90);
  margin-bottom: 2px;
  }

// Scss code for forms on the show page
#request_message {
  background-color: white;
  border-radius: 8px;
}

#review_rating {
  background-color: white;
  border-radius: 8px;
}

#review_content {
  background-color: white;
  border-radius: 8px;
}

// Scss code for forms on create an event
#sport_event_address {
  background-color: white;
  border-radius: 8px;
}

#sport_event_sport {
  background-color: white;
  border-radius: 8px;
}

#sport_event_description {
  background-color: white;
  border-radius: 8px;
}

#sport_event_start_at_1i {
  background-color: white;
  border-radius: 8px;
}

#sport_event_start_at_2i {
  background-color: white;
  border-radius: 8px;
}

#sport_event_start_at_3i {
  background-color: white;
  border-radius: 8px;
}

#sport_event_start_at_4i {
  background-color: white;
  border-radius: 8px;
}

#sport_event_start_at_5i {
  background-color: white;
  border-radius: 8px;
}

.margin-0 {
  margin: 0 !important;
}
