.homepagetop {
  width: 100vw;
  height: 250px;
  background-color: blue;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  margin-bottom: 10px;
}

.homepage {
  position: fixed;
  top: 8;
}

.hpw {
  color: yellow;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 18px;
}

.hpw2 {
  color: yellow;
  font-size: 16px;
  margin-left: 18px;
  margin-top: 0px;
}

.hpw3 {
  color: yellow;
  font-size: 18px;
  margin-left: 18px;
  margin-top: 42px;
}

