.homepagetop {
  width: 100vw;
  // height: 100px;
  background-image: linear-gradient($dark-blue, $blue);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  // margin-bottom: 10px;
}

.homepage {
  position: fixed;
  top: 8;
}

.hpw {
  color: $green;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 18px;
}

.hpw2 {
  color: white;
  font-size: 16px;
  margin-left: 18px;
  margin-top: 0px;
}

.hpw3 {
  color: white;
  font-size: 18px;
  margin-left: 18px;
  margin-top: 42px;
}
