hr {
  width: 84%;
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: $light-gray;
  height: 2px;
}

.h1-headers {
  font-size: 22px;
  color: $dark-gray;
}
