.navfooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $white;
  // background-image: linear-gradient($blue, $dark-blue);
  // background-image: rgb(227, 36, 36);
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.navfooter-links {
  font-size: 20px;
  padding: 20px;
  color: $dark-gray;
}

.footer-buffer {
  min-height: 60px;
}
