.navfooter {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: $blue;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.flex-container {
  display: flex;
  justify-content: space-evenly;
}

.navfooter-links {
  font-size: 20px;
  padding: 20px;
  color: white;
}

.footer-buffer {
  min-height: 60px;
}
