.navbar {
  width: 100%;
  z-index: 100;
  position:sticky;
  top: 0;
  overflow: visible;
  background-color: $dark-blue;
}


  .bg-blue {
    background-color: $blue;
  }

  .nav-link {
    color: white;
  }

  .navbar i {
    font-size: large;
  }
