.profile {
  display: flex;
  justify-content: space-around;
  margin: 8px;
  padding: 8px;

  h2 {
    font-size: 20px;
    font-weight: 500; // big difference between 500 and 600
    line-height: 28.2px;
  }

  p {
    font-size: 14px;
    margin: 0;
  }

  .about-me {
    padding: 8px;
    margin: auto;
    // height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid gray;
    box-shadow: 0 2px 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    flex-wrap: wrap;
    overflow: hidden;
    line-height: 16px;
  }
}

.profile-pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.review-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 4px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 4px;
  margin: 8px;
  color: $dark-gray;
}

.review-info {
  display: flex;
  justify-content: space-between;
}

.image-username-rating {
  display: flex;

}

.user-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    font-size: 16px;
  }
}

.reviewer-pic {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.user-review-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    font-size: 12px;
    margin: 0 8px;
  }
}

.review-content {
  font-size: 16px;
}

.my-rating {
  h2 {
    margin: auto;
  }

  i {
    margin: auto;
    font-weight: 800;
  }
}

.rating {
  i {
    color: $yellow;
  }
}
